<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helloworld">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".homework.HwTestService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name=".homework.Activity.HwTestServiceActivity">
        </activity>

        <service
            android:name=".Owen.OwenTestService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Owen.activity.OwenTestServiceActivity" />
        <activity android:name=".homework.Activity.DrawerLayoutHW" />
        <activity android:name=".homework.Activity.SpeechBubbleActivity">
        </activity>
        <activity android:name=".homework.NewHwRecyclerViewActivity" />
        <activity android:name=".homework.ListActivityHW" />
        <activity android:name=".homework.FirstActivity" />
        <activity android:name=".homework.SaveInstance" />
        <activity android:name=".Stephanie.Aug2hwActivity" />
        <activity android:name=".Stephanie.StephLayoutAndWidgetActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Stephanie.LoginActivity" />
        <activity android:name=".homework.Activity.ViewPagerHWActivity" />
        <activity android:name=".Owen.activity.OwenFragmentActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".homework.Activity.HWFragementActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>